<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
      <handlers> 
          <remove name="aspNetCore" />
          <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore 
          processPath="dotnet" arguments="./BaGet.dll" 
          stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" 
          forwardWindowsAuthToken="false"
          hostingModel="OutOfProcess" >
          <!-- hostingModel="InProcess" > -->
          <environmentVariables>
            <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          </environmentVariables>
      </aspNetCore>
      
  </system.webServer>
  
  <!--
      <add name="AspNetCoreModule" image="%SystemRoot%\system32\inetsrv\aspnetcore.dll" />
      <add name="AspNetCoreModuleV2" image="%ProgramFiles%\IIS\Asp.Net Core Module\V2\aspnetcorev2.dll" />
  </globalModules>
  -->

  <!-- https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-3.0 -->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <applicationInitialization doAppInitAfterRestart="true" />
    </system.webServer>
  </location>
  
</configuration>
