body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.font90 {
  font-weight: 90%;
}

.w40 {
  width: 40%;
}